NODE_ENV="development" # development | production

# Enterprise API URL
NEXT_PUBLIC_API_URL=''


# AUTH 0 CONFIG ------------------------------------------>
# use [openssl rand -hex 32] to generate a 32 bytes value
AUTH0_SECRET=''
# fpa-ui-portal url
AUTH0_BASE_URL='http://localhost:3000'
# your auth0 issuer url, i.e.: https://auth.dataherald.com/
AUTH0_ISSUER_BASE_URL=''
# your auth0 API audience, i.e.: https://dataherald.us.auth0.com/api/v2/
AUTH0_API_AUDIENCE=''
# your auth0 application client ID
AUTH0_CLIENT_ID=''
# your auth0 application client secret
AUTH0_CLIENT_SECRET=''


# API Endpoints and Authentication
API_ENGINE_URL='' # BackendAPI URL
API_AUTH_KEY=''
AZURE_API_BASE=''
AZURE_LLM_NAME=''
AZURE_DB_CONNECTION_ID=''